# Вводная

Что мы уже прошли и что должны знать?

- типы данных в Python
- функции 
- что такое машинное обучение?
- обучение с учителем (классификация, регрессия)
- обучение без учителя (кластеризация)
- методы оценки моделей (MSE. R-squered, accuracy, recoll, precision)
- что такое нейронные сети и как они устроены

Что будем делать в этом году и что узнаем?
- решать задачи НТИ по профилям "Большие данные" и "Искусственный интеллект"
- что такое NLP и как с этим жить?
- работа с аудио, распознование голоса и прочее
- работа с изображениями, распознавание и прочее
- реализация своих проектов и много решение разных задач

In [ ]:
# какие типы данных вы знаете?
int
bool
float
string
list
dict
tuple
set
dataframe
series

In [1]:
# создайте функцию сложения трех чисел и вернуть
def sum(a,b,c):
    return a+b+c

sum(1,2,3)

6

In [ ]:
# что такое обучение с учителем?
логистическая регрессия - классификация
линейная регрессия - регрессия
# что такое обучение без учителя?

In [ ]:
# задачи классификации - это?
# дискретные
# задачи кластеризации - это?
# разбивает группы на похожие объекты
# kmeans
# задачи регресии - это?
# непрывные

In [ ]:
# для какого типа задач используется метрика MSE? - регрессия
# для какого типа задач используется метрика recall? - классификация
# что такое accuracy? - классификация

# Практика

В этот набор данных включены все виды данных, связанных с астероидом.

Базовое определение столбца:
- SPK-ID: основной SPK-ID объекта.
- Object ID: идентификатор внутренней базы данных объекта.
- Object fullname: Полное наименование / обозначение объекта.
- pdes: Первичное обозначение объекта
- name: имя объекта IAU
- NEO: флаг объекта, сближающегося с Землей (NEO)
- PHA: флаг потенциально опасного астероида (PHA)
- H: параметр абсолютной величины
- Diameter: диаметр объекта (от эквивалентной сферы) км.
- Albedo: геометрическое альбедо
- Diameter_sigma: неопределенность 1 сигма в диаметре объекта км Единица измерения
- Orbit_id: ID решения для орбиты
- Epoch: Эпоха оскала в модифицированной форме юлианского дня.
- Equinox: Равноденствие системы отсчета.
- e: эксцентриситет
- a: Большая полуось au Unit
- q: расстояние перигелия au Единица
- i: наклон; угол относительно плоскости эклиптики xy
- tp: Время прохождения перигелия TDB Unit
- moid_ld: Минимальное расстояние пересечения орбиты Земли au Unit

https://www.kaggle.com/sakhawat18/asteroid-dataset

**Problem Definition**

How we can use various python based Machine Learning Model to and the given parameters to predict if the Asteroids Protential Hazard or not?

In [ ]:
from google.colab import files
uploaded = files.upload()

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import os

os.chdir(r"./drive/MyDrive/Data Science для школьников/Data science 2021 2022 - продвинутый курс")
print(os.getcwd())

/content/drive/MyDrive/Data Science для школьников/Data science 2021 2022 - продвинутый курс

In [4]:
url = os.getcwd()
files = os.listdir(url)
files

['ПОВТОРЕНИЕ – МАТЬ УЧЕНИЯ. Урок 30.09.2021.ipynb',
 'dataset.csv',
 'Новый документ.gdoc',
 '1 домашка',
 '02_Введение_в_NLP (1).ipynb',
 'План уроков и оценки (продвинутый курс).gsheet']

In [5]:
import pandas as pd

df = pd.read_csv('dataset.csv')
df

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (3,4,5) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,id,spkid,full_name,pdes,name,prefix,neo,pha,H,diameter,...,sigma_i,sigma_om,sigma_w,sigma_ma,sigma_ad,sigma_n,sigma_tp,sigma_per,class,rms
0,a0000001,2000001,1 Ceres,1,Ceres,NaN,N,N,3.400,939.400,...,4.608900e-09,6.168800e-08,6.624800e-08,7.820700e-09,1.111300e-11,1.196500e-12,3.782900e-08,9.415900e-09,MBA,0.43301
1,a0000002,2000002,2 Pallas,2,Pallas,NaN,N,N,4.200,545.000,...,3.469400e-06,6.272400e-06,9.128200e-06,8.859100e-06,4.961300e-09,4.653600e-10,4.078700e-05,3.680700e-06,MBA,0.35936
2,a0000003,2000003,3 Juno,3,Juno,NaN,N,N,5.330,246.596,...,3.223100e-06,1.664600e-05,1.772100e-05,8.110400e-06,4.363900e-09,4.413400e-10,3.528800e-05,3.107200e-06,MBA,0.33848
3,a0000004,2000004,4 Vesta,4,Vesta,NaN,N,N,3.000,525.400,...,2.170600e-07,3.880800e-07,1.789300e-07,1.206800e-06,1.648600e-09,2.612500e-10,4.103700e-06,1.274900e-06,MBA,0.39980
4,a0000005,2000005,5 Astraea,5,Astraea,NaN,N,N,6.900,106.699,...,2.740800e-06,2.894900e-05,2.984200e-05,8.303800e-06,4.729000e-09,5.522700e-10,3.474300e-05,3.490500e-06,MBA,0.52191
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
958519,bPLS6013,3246801,(6013 P-L),6013 P-L,NaN,NaN,N,N,17.135,NaN,...,6.969000e+00,7.433000e+00,4.631100e+01,2.738300e+01,1.041200e+00,1.652100e-01,1.309700e+02,7.264900e+02,MBA,0.23839
958520,bPLS6331,3246834,(6331 P-L),6331 P-L,NaN,NaN,N,N,18.500,NaN,...,1.563500e-05,5.598600e-05,2.380400e-04,1.298200e-04,2.418900e-08,3.346100e-09,4.690200e-04,1.578500e-05,MBA,0.53633
958521,bPLS6344,3013075,(6344 P-L),6344 P-L,NaN,NaN,Y,Y,20.400,NaN,...,1.853300e-05,5.691700e-05,8.969200e-05,5.272600e-05,1.650100e-07,1.101600e-08,2.830600e-04,9.127500e-05,APO,0.51556
958522,bT2S2060,3246457,(2060 T-2),2060 T-2,NaN,NaN,N,N,18.071,NaN,...,5.448800e-01,4.391600e+00,1.898800e+01,1.083800e+01,7.171600e-01,1.016700e-01,3.898400e+01,5.035500e+02,MBA,0.25641
958523,bT3S2678,3246553,(2678 T-3),2678 T-3,NaN,NaN,N,N,18.060,NaN,...,1.102300e+00,3.117000e-01,1.284300e+00,4.736100e-01,1.626700e-01,2.487900e-02,5.523600e+00,1.064800e+02,MBA,0.26980

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 958524 entries, 0 to 958523
Data columns (total 45 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   id              958524 non-null  object
 1   spkid           958524 non-null  int64
 2   full_name       958524 non-null  object
 3   pdes            958524 non-null  object
 4   name            22064 non-null   object
 5   prefix          18 non-null      object
 6   neo             958520 non-null  object
 7   pha             938603 non-null  object
 8   H               952261 non-null  float64
 9   diameter        136209 non-null  float64
 10  albedo          135103 non-null  float64
 11  diameter_sigma  136081 non-null  float64
 12  orbit_id        958524 non-null  object
 13  epoch           958524 non-null  float64
 14  epoch_mjd       958524 non-null  int64
 15  epoch_cal       958524 non-null  float64
 16  equinox         958524 non-null  object
 17  e               958524 non-null  float64
 18  a               958524 non-null  float64
 19  q               958524 non-null  float64
 20  i               958524 non-null  float64
 21  om              958524 non-null  float64
 22  w               958524 non-null  float64
 23  ma              958523 non-null  float64
 24  ad              958520 non-null  float64
 25  n               958524 non-null  float64
 26  tp              958524 non-null  float64
 27  tp_cal          958524 non-null  float64
 28  per             958520 non-null  float64
 29  per_y           958523 non-null  float64
 30  moid            938603 non-null  float64
 31  moid_ld         958397 non-null  float64
 32  sigma_e         938602 non-null  float64
 33  sigma_a         938602 non-null  float64
 34  sigma_q         938602 non-null  float64
 35  sigma_i         938602 non-null  float64
 36  sigma_om        938602 non-null  float64
 37  sigma_w         938602 non-null  float64
 38  sigma_ma        938602 non-null  float64
 39  sigma_ad        938598 non-null  float64
 40  sigma_n         938602 non-null  float64
 41  sigma_tp        938602 non-null  float64
 42  sigma_per       938598 non-null  float64
 43  class           958524 non-null  object
 44  rms             958522 non-null  float64
dtypes: float64(33), int64(2), object(10)
memory usage: 329.1+ MB

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

df.isnull().sum()

In [ ]:
# We have choose to drop the name and prefix for now as this will not impact the model

df = df.drop(['name', 'prefix'], axis=1)
df = df.drop(['id', 'spkid','full_name', 'equinox','orbit_id','pdes'], axis=1)

In [ ]:
df = df.dropna()

In [ ]:
df.isna().sum()

neo               0
pha               0
H                 0
diameter          0
albedo            0
diameter_sigma    0
epoch             0
epoch_mjd         0
epoch_cal         0
e                 0
a                 0
q                 0
i                 0
om                0
w                 0
ma                0
ad                0
n                 0
tp                0
tp_cal            0
per               0
per_y             0
moid              0
moid_ld           0
sigma_e           0
sigma_a           0
sigma_q           0
sigma_i           0
sigma_om          0
sigma_w           0
sigma_ma          0
sigma_ad          0
sigma_n           0
sigma_tp          0
sigma_per         0
class             0
rms               0
dtype: int64

In [ ]:
df.shape

(131142, 37)

In [ ]:
df['pha'] # целевая переменная

0         N
1         N
2         N
3         N
4         N
         ..
891599    N
891841    N
894103    N
901055    N
909489    N
Name: pha, Length: 131142, dtype: object

In [ ]:
df['pha'].unique() # сколько классов?

array(['N', 'Y'], dtype=object)

In [ ]:
df['pha'].value_counts()
# дисбаланс классов

N    130961
Y       181
Name: pha, dtype: int64