In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
import pandas as pd
vectorizer = CountVectorizer()
corpus=["Файл CSV может содержать несколько строкa после строкa заголовка.",
        "Каждая строка соответствует артефакт, который будет создан. Запись в столбце Тип соответствует тип создаваемого артефакт в системе.",
        "Остальные ячейки совпадают с соответствующими полями артефакт."]
X=vectorizer.fit_transform(corpus)
X.toarray()
df=pd.DataFrame(data =X.toarray(), columns=vectorizer.get_feature_names())
df['Document']=pd.Series(corpus)
df

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,csv,артефакта,артефакту,будет,заголовка,запись,каждая,который,может,несколько,...,соответствующими,столбце,строк,строка,строки,тип,типу,файл,ячейки,Document
0,1,0,0,0,1,0,0,0,1,1,...,0,0,1,0,1,0,0,1,0,Файл CSV может содержать несколько строк после...
1,0,1,1,1,0,1,1,1,0,0,...,0,1,0,1,0,1,1,0,0,"Каждая строка соответствует артефакту, который..."
2,0,1,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,Остальные ячейки совпадают с соответствующими ...

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer()
corpus=["Файл может содержать несколько строкa после строка заголовка.",
        "Каждая строкa соответствует артефакт, который будет создан. Запись в столбце Тип соответствует тип создаваемого артефакт в системе.",
        "Остальные ячейки совпадают с соответствующими полями артефакт строкa."]
vectorizer.fit(corpus)
print(vectorizer.vocabulary_)
print(vectorizer.idf_)

{'файл': 22, 'может': 6, 'содержать': 13, 'несколько': 7, 'строкa': 19, 'после': 10, 'строка': 20, 'заголовка': 2, 'каждая': 4, 'соответствует': 16, 'артефакт': 0, 'который': 5, 'будет': 1, 'создан': 15, 'запись': 3, 'столбце': 18, 'тип': 21, 'создаваемого': 14, 'системе': 11, 'остальные': 8, 'ячейки': 23, 'совпадают': 12, 'соответствующими': 17, 'полями': 9}
[1.28768207 1.69314718 1.69314718 1.69314718 1.69314718 1.69314718
 1.69314718 1.69314718 1.69314718 1.69314718 1.69314718 1.69314718
 1.69314718 1.69314718 1.69314718 1.69314718 1.69314718 1.69314718
 1.69314718 1.         1.69314718 1.69314718 1.69314718 1.69314718]

In [ ]:
vectors = vectorizer.fit_transform(corpus)
feature_names = vectorizer.get_feature_names()
df2 = pd.DataFrame(vectors.todense().tolist(), columns=feature_names)
df2['Document']=pd.Series(corpus)
df2

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,csv,артефакт,будет,заголовка,запись,каждая,который,может,несколько,остальные,...,создаваемого,создан,соответствует,соответствующими,столбце,строкa,строка,тип,файл,ячейки
0,0.301511,0.000000,0.000000,0.301511,0.000000,0.000000,0.000000,0.301511,0.301511,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.603023,0.000000,0.000000,0.301511,0.000000
1,0.000000,0.346109,0.227546,0.000000,0.227546,0.227546,0.227546,0.000000,0.000000,0.000000,...,0.227546,0.227546,0.455091,0.000000,0.227546,0.000000,0.227546,0.455091,0.000000,0.000000
2,0.000000,0.322002,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.423394,...,0.000000,0.000000,0.000000,0.423394,0.000000,0.000000,0.000000,0.000000,0.000000,0.423394