# получения N-грамм

In [ ]:
def token(s):
  s=s.lower()
  s+=" "
  i=''
  lst=[]
  for simv in s:
    if simv.isalpha():
      i+=simv
    elif simv==" ":
      if i!="":
        lst.append(i)
      i=''
  return lst

In [ ]:
def get_N_grams(s, n=2, slova=True):
  lst=[]
  listik=[]
  if slova:
    lst=token(s)  
  else:
    for simv in s:
        lst.append(simv)
  for i in range(len(lst)-n+1):
    l=[]
    for j in range (i, i+n):
      l.append(lst[j])
    listik.append(l)
  return listik

In [ ]:
s="Мама, мыла, ####3 раму    !"
get_N_grams(s, n=2)

[['мама', 'мыла'], ['мыла', 'раму']]

# TF-IDF

Term Frequency TF - это частота слова, то есть на сколько важно слово для текста.

TF термина а = (Количество раз, когда термин а встретился в тексте / количество всех слов в тексте)

Inverse Document Frequency IDF - измеряет непосредственную важность данного термина для текущего текста. То есть, для TF каждое слово равное по важности в тексте.

IDF термина а = логарифм(Общее количество документов / Количество документов, в которых встречается термин а)

Term Frequency — Inverse Document Frequency- это умножение TF на IDF и получаем — TF-IDF

TF-IDF термина а = (TF термина а) * (IDF термина а)

In [ ]:
import math

def TF(word, text):
  text=token(text)
  c=0
  for i in text:
    if i==word:
      c+=1
  return c/len(text)


def IDF(word, corpus):
  c=0
  for doc in corpus:
    if word in token(doc):
      c+=1
  return math.log(len(corpus)/c)

In [ ]:
import pandas as pd
def TF_IDF(corpus):
  tf_idf=[]
  for doc in corpus:
    t=token(doc)
    vec=[]
    for word in t:
      vec.append(TF(word, doc)*IDF(word, corpus))
    tf_idf.append(vec)
  tf_idf=pd.DataFrame(tf_idf)
  return tf_idf

In [ ]:
corpus = [
          'Text of first document.',
          'Text of the second document made longer.',
          'Number three.',
          'This is number four.',
]

TF_IDF(corpus)

          0         1         2         3         4         5         6
0  0.173287  0.173287  0.346574  0.173287       NaN       NaN       NaN
1  0.099021  0.099021  0.198042  0.198042  0.099021  0.198042  0.198042
2  0.346574  0.693147       NaN       NaN       NaN       NaN       NaN
3  0.346574  0.346574  0.173287  0.346574       NaN       NaN       NaN

# **Стоп-слова**

**Стоп слова** 

Многие алгоритмы Machine Learning очень чувствительны к шумам. В NLP к таким шумам относятся стоп-слова. Чаще всего это слова, которые не несут большой информативной нагрузки.

Часто к таким словам относят предлоги и междометия

In [ ]:
from nltk.corpus import stopwords
nltk.download('punkt')
nltk.download('stopwords')
lst_stopwords = nltk.corpus.stopwords.words("russian")
#Всего их насчитывается в этом списке 151.

lst_stopwords[10:20]

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

['как', 'а', 'то', 'все', 'она', 'так', 'его', 'но', 'да', 'ты']

In [ ]:
from nltk import word_tokenize
cleaned_token=[]
text='Он зашел в комнату и сел на стул'
token = word_tokenize(text)
for word in token:
    if word not in lst_stopwords:
        cleaned_token.append(word)

In [ ]:
cleaned_token

['Он', 'зашел', 'комнату', 'сел', 'стул']

In [ ]:
#мы так же можем дописывать свои слова 
'''Поскольку это список, то к нему можно добавить дополнительные слова или, наоборот, 
удалить из него те, которые будут информативными для вашего случая'''


stop='зашел'
lst_stopwords.append(stop)
cleaned_token=[]
text='Он зашел в комнату и сел на стул'
token = word_tokenize(text)
for word in token:
    if word not in lst_stopwords:
        cleaned_token.append(word)
cleaned_token

['Он', 'комнату', 'сел', 'стул']