In [ ]:
from google.colab import files
uploaded=files.upload()
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
train=pd.read_csv("train.csv")
sample=pd.read_csv("sample.csv")

Saving sample.csv to sample (1).csv
Saving train.csv to train (1).csv

In [ ]:
test=sample.copy()
print("Тренировочный:",train.shape)
print("Тестовый:",test.shape)
print("_____________")
print("Тренировочный:")
print(train.info())
print(" ")
print("Тестовый:")
print(test.info())
print("_____________")
print("Тренировочный:")
print(train.isna().sum())
print(" ")
print("Тестовый:")
print(test.isna().sum())

Тренировочный: (35064, 2)
Тестовый: (4344, 2)
_____________
Тренировочный:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35064 entries, 0 to 35063
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   datetime  35064 non-null  object
 1   total     34946 non-null  float64
dtypes: float64(1), object(1)
memory usage: 548.0+ KB
None

Тестовый:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4344 entries, 0 to 4343
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   datetime  4344 non-null   object
 1   total     4344 non-null   int64
dtypes: int64(1), object(1)
memory usage: 68.0+ KB
None
_____________
Тренировочный:
datetime      0
total       118
dtype: int64

Тестовый:
datetime    0
total       0
dtype: int64

In [ ]:
train.dropna(axis=0,how='any',inplace=True)
train.shape

(34946, 2)

In [ ]:
test

                 datetime  total
0     01.01.2009 00:00:00      0
1     01.01.2009 01:00:00      0
2     01.01.2009 02:00:00      0
3     01.01.2009 03:00:00      0
4     01.01.2009 04:00:00      0
...                   ...    ...
4339  30.06.2009 19:00:00      0
4340  30.06.2009 20:00:00      0
4341  30.06.2009 21:00:00      0
4342  30.06.2009 22:00:00      0
4343  30.06.2009 23:00:00      0

[4344 rows x 2 columns]

In [ ]:
train['День']=0
train['Месяц']=0
train['Час']=0
for index, row in train.iterrows():
  train.loc[index,'День']=int(train.loc[index,'datetime'][:2])
  train.loc[index,'Месяц']=int(train.loc[index,'datetime'][3:5])
  train.loc[index,'Час']=int(train.loc[index,'datetime'][11:13])
train.drop('datetime',axis=1,inplace=True)
train

             total  День  Месяц  Час
1      154139.8084     1      1    1
2      157818.3593     1      1    2
3      149310.6991     1      1    3
4      138282.0380     1      1    4
5      132032.7479     1      1    5
...            ...   ...    ...  ...
35059  249376.3608    31     12   19
35060  246510.5725    31     12   20
35061  226469.4133    31     12   21
35062  199907.3942    31     12   22
35063  151086.2414    31     12   23

[34946 rows x 4 columns]

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error
x = train.drop(columns=["total"])
y = train["total"]
x_tr, x_te, y_tr, y_te = train_test_split(x, y, random_state=42, test_size=0.3)
lire = LinearRegression()
lire.fit(x_tr,y_tr)
pred=lire.predict(x_te)
print('MSE: {:.3f}'.format(mean_squared_error(y_te, pred)))

MSE: 1118451955.150

In [ ]:
test['День']=0
test['Месяц']=0
test['Час']=0
for index, row in test.iterrows():
  test.loc[index,'День']=int(test.loc[index,'datetime'][:2])
  test.loc[index,'Месяц']=int(test.loc[index,'datetime'][3:5])
  test.loc[index,'Час']=int(test.loc[index,'datetime'][11:13])
test.drop('datetime',axis=1,inplace=True)
test

      total  День  Месяц  Час
0         0     1      1    0
1         0     1      1    1
2         0     1      1    2
3         0     1      1    3
4         0     1      1    4
...     ...   ...    ...  ...
4339      0    30      6   19
4340      0    30      6   20
4341      0    30      6   21
4342      0    30      6   22
4343      0    30      6   23

[4344 rows x 4 columns]

In [ ]:
test.drop(columns=['total'],inplace=True)
sampred=pd.Series(lire.predict(test))
sample['total']=sampred
sample

                 datetime          total
0     01.01.2009 00:00:00  136718.029406
1     01.01.2009 01:00:00  141175.532795
2     01.01.2009 02:00:00  145633.036184
3     01.01.2009 03:00:00  150090.539573
4     01.01.2009 04:00:00  154548.042961
...                   ...            ...
4339  30.06.2009 19:00:00  220246.185929
4340  30.06.2009 20:00:00  224703.689318
4341  30.06.2009 21:00:00  229161.192707
4342  30.06.2009 22:00:00  233618.696096
4343  30.06.2009 23:00:00  238076.199485

[4344 rows x 2 columns]

In [ ]:
sample.to_csv("predictelectricity.csv",index=False)