In [ ]:
import pandas as pd
from sklearn import preprocessing

In [ ]:
train=pd.read_csv('/content/train.csv' )
test=pd.read_csv('/content/sample.csv')

In [ ]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35064 entries, 0 to 35063
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   datetime  35064 non-null  object
 1   total     34946 non-null  float64
dtypes: float64(1), object(1)
memory usage: 548.0+ KB

In [ ]:
print(train.isna().sum())

datetime      0
total       118
dtype: int64

In [ ]:
train=train.dropna(axis=0, how='any').reset_index(drop=True)

In [ ]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34946 entries, 0 to 34945
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   datetime  34946 non-null  object
 1   total     34946 non-null  float64
dtypes: float64(1), object(1)
memory usage: 546.2+ KB

In [ ]:
train['day']=1
train['month']=1
train['year']=1
train['hour']=1

test['day']=1
test['month']=1
test['year']=1
test['hour']=1

In [ ]:
train

                  datetime        total  day  month  year  hour
0      01.01.2005 01:00:00  154139.8084    1      1     1     1
1      01.01.2005 02:00:00  157818.3593    1      1     1     1
2      01.01.2005 03:00:00  149310.6991    1      1     1     1
3      01.01.2005 04:00:00  138282.0380    1      1     1     1
4      01.01.2005 05:00:00  132032.7479    1      1     1     1
...                    ...          ...  ...    ...   ...   ...
34941  31.12.2008 19:00:00  249376.3608    1      1     1     1
34942  31.12.2008 20:00:00  246510.5725    1      1     1     1
34943  31.12.2008 21:00:00  226469.4133    1      1     1     1
34944  31.12.2008 22:00:00  199907.3942    1      1     1     1
34945  31.12.2008 23:00:00  151086.2414    1      1     1     1

[34946 rows x 6 columns]

In [ ]:
for i in range (34946):

  train['day'][i]=int(train['datetime'][i][:2])
  train['month'][i]=int(train['datetime'][i][3:5])
  train['year'][i]=int(train['datetime'][i][6:10])
  train['hour'][i]=int(train['datetime'][i][11:13])


for i in range (4344):

  test['day'][i]=int(test['datetime'][i][:2])
  test['month'][i]=int(test['datetime'][i][3:5])
  test['year'][i]=int(test['datetime'][i][6:10])
  test['hour'][i]=int(test['datetime'][i][11:13])

In [ ]:
test

                 datetime  total  day  month  year  hour
0     01.01.2009 00:00:00      0    1      1  2009     0
1     01.01.2009 01:00:00      0    1      1  2009     1
2     01.01.2009 02:00:00      0    1      1  2009     2
3     01.01.2009 03:00:00      0    1      1  2009     3
4     01.01.2009 04:00:00      0    1      1  2009     4
...                   ...    ...  ...    ...   ...   ...
4339  30.06.2009 19:00:00      0   30      6  2009    19
4340  30.06.2009 20:00:00      0   30      6  2009    20
4341  30.06.2009 21:00:00      0   30      6  2009    21
4342  30.06.2009 22:00:00      0   30      6  2009    22
4343  30.06.2009 23:00:00      0   30      6  2009    23

[4344 rows x 6 columns]

In [ ]:
train

                  datetime        total  day  month  year  hour
0      01.01.2005 01:00:00  154139.8084    1      1  2005     1
1      01.01.2005 02:00:00  157818.3593    1      1  2005     2
2      01.01.2005 03:00:00  149310.6991    1      1  2005     3
3      01.01.2005 04:00:00  138282.0380    1      1  2005     4
4      01.01.2005 05:00:00  132032.7479    1      1  2005     5
...                    ...          ...  ...    ...   ...   ...
34941  31.12.2008 19:00:00  249376.3608   31     12  2008    19
34942  31.12.2008 20:00:00  246510.5725   31     12  2008    20
34943  31.12.2008 21:00:00  226469.4133   31     12  2008    21
34944  31.12.2008 22:00:00  199907.3942   31     12  2008    22
34945  31.12.2008 23:00:00  151086.2414   31     12  2008    23

[34946 rows x 6 columns]

In [ ]:
train=train.drop(['datetime'], axis=1)

In [ ]:
x=train[['day', 'month', 'year', 'hour']].values#
y=train['total'].values
X=test[['day', 'month', 'year', 'hour']].values#

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error
slr = LinearRegression()
slr.fit(x, y)

LinearRegression()

In [ ]:
y_pred = slr.predict(x)
y_pred

array([153433.9256296 , 157880.92652049, 162327.92741137, ...,
       212361.30445871, 216808.30534959, 221255.30624047])

In [ ]:
print('MSE: {:.3f}'.format(mean_squared_error(y, y_pred)))

MSE: 1122288861.898

In [ ]:
test['total']=slr.predict(X)

In [ ]:
test.to_csv("prediction.csv", index=False)
from google.colab import files

files.download("prediction.csv")